
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000; 
  color: #fff; 
}

header {
  text-align: center;
  padding: 20px;
  background-color: #111; 
  color: #ffcc00;
  font-size: 24px;
}

#searchBar {
  padding: 10px;
  width: 300px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px; 
}


.character-card {
  position: relative;
  width: 200px;
  border: 1px solid #444;
  border-radius: 10px;
  overflow: hidden;
  background-color: #222; 
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.character-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-bottom: 1px solid #444;
}

.character-card h3 {
  margin: 10px 0;
  font-size: 18px;
  color: #ffcc00; 
}

.character-card p {
  margin: 5px 0;
  font-size: 14px;
  color: #ccc; 
}


.character-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 10px rgba(255, 255, 0, 0.6); 
}


.additional-info {
  display: none;  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  text-align: center;
}

.character-card:hover .additional-info {
  display: block;}
